body {
    flex-direction: column;
    background: url("../images/backgrounds/pexels-photo copy.jpg") repeat-y center;
    background-size: cover;
}

.l1{
    display: inline-block;
    text-decoration: none;
    color: black;
    text-shadow: 2px -1.75px #fff;
}
#a1:link {
    text-decoration: none;
    color: black;
    text-shadow: 2px -1.75px #fff;
}

#a1:visited {
    text-decoration: none;
    color: black;
    text-shadow: 2px -1.75px #fff;
}

#a1:hover {
    font-family: monospace;
    color: #fff;
    text-shadow: 2px -1.75px black;
}

.nameTag {
    text-shadow: 3px -2px #fff;
}

.connect, .picHeading {
    text-shadow: 2px -2px #fff;
}

.p1 {
    text-shadow: 2px -1.75px #fff;
}

#newsScraper, #brewery, #giphyApp, #triviaGame, #circuit, #metal {
    box-sizing: border-box;
    width: 15em;
}

.foot {
    padding-top: 4%;
    padding-bottom: 4%;
}

