body {
    flex-direction: column;
    background: url("../images/backgrounds/pexels-photo copy.jpg") repeat-y center;
    background-size: cover;
}

.l1{
    display: inline-block;
    text-decoration: none;
    color: black;
    text-shadow: 2px -1.75px #fff;
}
#a1:link {
    text-decoration: none;
    color: black;
    text-shadow: 2px -1.75px #fff;
}

#a1:visited {
    text-decoration: none;
    color: black;
    text-shadow: 2px -1.75px #fff;
}

#a1:hover {
    font-family: monospace;
    color: #fff;
    text-shadow: 2px -1.75px black;
}

.p1 {
    text-shadow: 2px -1.75px #fff;
}

#hang, #rpg, #tv, #music, #circuit, #metal {
    box-sizing: border-box;
    width: 15em;
}

